<?xml version="1.0" encoding="UTF-8"?>
<!--  
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config   
-->
<configuration>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
	<appSettings>
		<remove key="DirPath" />
		<add key="DirPath" value="LDAP://ecx.com/DC=ecx,DC=com" />
		<remove key="domain" />
		<add key="domain" value="ecx" />
		<remove key="ACDUser" />
		<add key="ACDUser" value="APPSA" />
		<add key="ACDPass" value="09Solecx" />
		<add key="CancelPUN" value="e52aed75-ee14-4902-a99e-bd106c3fd9ca" />
		<add key="CancelWHR" value="E083E16B-4DD0-41C4-B4FC-B744A238290E" />
		<add key="EditWHR" value="41facd39-da55-4483-afe6-09eaa45f206e" />
		<add key="AddNewBankAccountTransType" value="a8474084-2a17-4432-bd85-adf227c2254c" />
		<add key="SuspendBankAccountTransType" value="5c71f1f4-1097-4a6c-93bd-57b5be454628" />
		<add key="CloseBankAccountTransType" value="594bdc42-a05b-49b8-8ead-af1471ae7bdc" />
		<add key="ResumeBankAccountTransType" value="3e3cfadb-ffb1-4aee-815c-8f7231f40346" />
		<add key="MembershipNewAccountTransTypeCode" value="MMF" />
		<add key="MembershipNewAccountTaskName" value="BankInformation" />
		<add key="MembershipNewAccountStepNo" value="4" />
		<add key="MembershipActiveMemberStatusCode" value="5" />
		<add key="LogOutUrl" value="https://portal.ecx.com.et?CMD=logoff" />
		<add key="Warehouse.ECXWarehouse" value="http://10.1.5.20:5000/WareHouseApplicationWebservice/WebServiceWareHouse.asmx" />
		<add key="Err:SuspensionRequestFailure" value="Failed to put the request." />
		<add key="Err:ResumptionRequestFailure" value="Failed to put the request." />
		<add key="Err:ClosureRequestFailure" value="Failed to put the request." />
		<add key="Err:SuspensionApprovalFailure" value="Failed to approve the request." />
		<add key="Err:ClosureApprovalFailure" value="Failed to approve the request." />
		<add key="Err:ResumptionApprovalFailure" value="Failed to approve the request." />
		<add key="Err:SuspensionRejectionFailure" value="Failed to reject the request." />
		<add key="Err:ClosureRejectionFailure" value="Failed to reject the request." />
		<add key="Err:ResumptionRejectionFailure" value="Failed to reject the request." />
		<add key="Err:SuspensionRequestExists" value="Suspension request is already made on the current bank account." />
		<add key="Err:ClosureRequestExists" value="Closure request is already made on the current bank account." />
		<add key="Err:ResumptionRequestExists" value="Resumption request is already made on the current bank account." />
		<add key="Err:SuspensionRequestOnWrongStatus" value="Suspension request can only be made on an Open bank account." />
		<add key="Err:ClosureRequestOnWrongStatus" value="Closure request cannot be made on a Closed bank account." />
		<add key="Err:ResumptionRequestOnWrongStatus" value="Resumption request can only be made on a Suspended bank account." />
		<add key="Err:SuspensionApprovalOnWrongStatus" value="Suspension approval can only be made on an Open bank account." />
		<add key="Err:ClosureApprovalOnWrongStatus" value="Closure approval cannot be made on a Closed bank account." />
		<add key="Err:ResumptionApprovalOnWrongStatus" value="Resumption approval can only be made on a Suspended bank account." />
		<add key="Err:NoPermissionToAddAccount" value="You do not have permission to add new bank account." />
		<add key="Err:NoPermissionToApproveNewAccount" value="You do not have permission to approve new bank account." />
		<add key="Err:NoPermissionToRequestSuspension" value="You do not have permission to request bank account suspension." />
		<add key="Err:NoPermissionToApproveSuspension" value="You do not have permission to approve bank account suspension." />
		<add key="Err:NoPermissionToRequestResumption" value="You do not have permission to request bank account resumption." />
		<add key="Err:NoPermissionToApproveResumption" value="You do not have permission to approve bank account resumption." />
		<add key="Err:NoPermissionToRequestClosure" value="You do not have permission to request bank account closure." />
		<add key="Err:NoPermissionToApproveClosure" value="You do not have permission to approve bank account closure." />
		<add key="Err:NoPermissionToViewBankAccounts" value="You do not have permission to view bank accounts." />
		<add key="Err:NoPermissionToManageBankAccounts" value="You do not have permission to manage bank accounts." />
		<add key="EnglishGuid" value="9ad72f55-bc00-4382-873e-0c84d6eb3850" />
		<add key="Short" value="00:10:00" />
		<add key="Moderate" value="06:00:00" />
		<add key="Long" value="1.00:00:00" />
		<add key="Indefinite" value="30.00:00:00" />
		<add key="MaximumGridRows" value="10" />
		<add key="MaxNotifiableExpiryDays" value="14" />
    <add key="AccountNo" value="1101916172498011" />
    <add key="Bank" value="United Bank Corporate Account" />
    <add key="BankBranch" value="Lideta Branch, Addis Ababa" />
    <add key="RefNo" value="CD-EX" />
    <add key="RefNoPUNPen" value="CD-LP" />
		<!--<add key="Warehouse.ECXWarehouse.WebServiceWareHouse" value="http://10.3.5.68:5001/stagingServices/WareHouseApplicationWebservice/WebServiceWareHouse.asmx"/>
    <add key="Warehouse.WHRDetail.GINDetail" value="http://localhost:5001/stagingServices/WareHouseApplicationWebservice/GINDetail.asmx"/>-->
		<add key="WorkFlow.ECXEngine" value="http://10.1.5.20:5000/ECXEngine/ECXEngine.asmx" />
		<add key="ECXSecurity.ECXSecurityAccess" value="http://10.1.5.20:5000/ECXSecurity/ECXSecurityAccess.asmx" />
		<add key="ECXWorkFlow.ECXEngine" value="http://10.1.5.20:5000/ECXEngine/ECXEngine.asmx" />
		<add key="Warehouse.GINDetail" value="http://10.1.5.20:5000/WareHouseApplicationWebservice/GINDetail.asmx" />
		<add key="Warehouse.WHRDetail.WebServiceWareHouse" value="http://10.1.5.20:5000/WareHouseApplicationWebservice/WebServiceWareHouse.asmx" />
		<add key="Lookup.ECXLookup" value="http://10.1.5.20:5000/ECXLookup/ECXLookup.asmx" />
		<add key="CNS.CNSService" value="http://10.3.5.67:5001/CNSService/CNSService.asmx" />
		<!--<add key="MembershipLookup.MembershipLookup" value="http://10.3.5.68:5001/stagingServices/MembershipLookup/MemberShipLookUp.asmx" />-->
		<add key="MembershipLookup.MemberShipLookUp" value="http://10.1.5.20:5000/MembershipLookup/MemberShipLookUp.asmx" />
		<!--<add key="Warehouse.GINInformation" value="http://10.3.5.68:5001/stagingServices/WareHouseApplicationWebservice/GINInformation.asmx" />-->
		<!--<add key="Warehouse.GINInformation" value="http://localhost:5001/WareHouseApplicationWebservice/GINInformation.asmx"/>
		<add key="Warehouse.GRNInformation" value="http://localhost:5001/WareHouseApplicationWebservice/GRNInformation.svc"/>-->
		<add key="Warehouse.GINInformation" value="http://10.3.5.67:5001/WareHouseApplicationWebservice/GINInformation.asmx" />
		<add key="Warehouse.GRNInformation" value="http://10.3.5.67:5001/WareHouseApplicationWebservice/GRNInformation.svc" />
	</appSettings>
	<connectionStrings>

    <add name="WarehouseConnectionLocal" connectionString="Data Source=10.3.5.69\stagging;Initial Catalog=StagingwarehouseApplicationVersion2;Integrated Security=False; User Id=dbaccess; Password=AdminP99" providerName="System.Data.SqlClient" />
    <add name="dbCentralDepositoryConnectionString" connectionString="Data Source=10.1.17.22\busapstinstance;Initial Catalog=dbCentralDepository;Integrated Security=False; User Id=dbaccess; Password=AdminP99" />
    <add name="IF" connectionString="Data Source=10.3.5.69\stagging;Initial Catalog=StagingECXIF;Integrated Security=False; User Id=dbaccess; Password=AdminP99" />
    <add name="MembershipConnectionLocal" connectionString="Data Source=10.3.5.69\stagging;Initial Catalog=dbECXMemberShip1;Integrated Security=False; User Id=dbaccess; Password=AdminP99" providerName="System.Data.SqlClient" />
		<add name="Excelconnectionstr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:Members Name Amharic.xlsx;Extended Properties='Excel 8.0;HDR=Yes;'" />
    <add name="ECXLookUpConnectionLocal" connectionString="Data Source=BusApcluster\BusApinstance;Initial Catalog=ECXLookup;Integrated Security=False; User Id=dbaccess; Password=AdminP99" providerName="System.Data.SqlClient" />
		<!--<add name="MembershipConnectionLocal" connectionString="Data Source=BusApcluster\BusApinstance;Initial Catalog=dbECXMemberShip1;Integrated Security=False; User Id=dbaccess; Password=AdminP99" providerName="System.Data.SqlClient" />
		<add name="dbCentralDepositoryConnectionString" connectionString="Data Source=BusApcluster\BusApinstance;Initial Catalog=dbCentralDepository;Integrated Security=False; User Id=dbaccess; Password=AdminP99" />
		<add name="IF" connectionString="Data Source=BusApcluster\BusApinstance;Initial Catalog=ECXIF;Integrated Security=False; User Id=dbaccess; Password=AdminP99" />
    
    <add name="WarehouseConnectionLocal" connectionString="Data Source=BusApcluster\BusApinstance;Initial Catalog=warehouseApplicationVersion2;Integrated Security=False; User Id=dbaccess; Password=AdminP99" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<!--<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAaFJGieMoZEikz55M7sU9fwQAAAACAAAAAAADZgAAqAAAABAAAAA7mxcSM3V/t8QB/ooF/+tjAAAAAASAAACgAAAAEAAAAJE4TZ2Gw82+ZDKE8r5A0M0oAgAA+dgJa1bv0dRTYKjqrpnYB0LcauBKYy+VSeRzIe4IOZFY2frO2UqPlatzK42L6pR+H9WQugEqVTSC10HL2cXx+8Y8LT11bP/CJ7zTSeNmJBPEGTYWKYfc6RNWGk8XFdH4aSgwXBRipDdlEbLUuQVz5BFIjsQjyWh8UUPD2mqqXB8YJhH24A3SoAkw6zmvyacSVvayzHuCwSjGQkSr8hP+oVchLZQ2qXKeYZM+Qsdu47ioArJvImyhdZ0EJ3u0GwzvZ0vFN8SGygmjbOTyxViTmVx/0w/z+IbDfGIUBm/XrpuED/cPbmweV7Cyj+bk/EmYu5IY8HfwIQd34jZkBezQSMCcBFjqbw5kw2GRnnOIiEiKjZ4I40myDfRWCZ4znVz0i4MJZCD7/ThHT35fCaePyhHhnO13UBqPwAhap80LDRwoiYPtvLiUCjhhsWCVA7KnUfhZqpB5UkC9ULpVuIOlKs/ONh6PKbQjisut5dCFzv58TZjMFf2mM8D+E2sdpjfMzZ/hrq9H5F/4wHsBfPLf6qWjawOiAE01XHB86QDBXW/P8x8CVqcxjrHcB0CvCCvRSwjs2oUDngggc1EKIzNO0Cbv/W2agxcJ87ok+g59OnWUYGxWtU8yulf11vJUEjjxoLcd5Yz1d2/MDc5cm79MzfVZcoHXgU1CZhggGwmgYnm6Ti9oa7rn48i+5sAz7FILv14X6+kYpE6Dd1Ca4POEA9h2qUSY9OGVFAAAAJ7qU40D80ZxbyXH3S0X4TDEDpz2</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->
	<system.web>
		<httpRuntime executionTimeout="300" />
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="ActiveReports.Viewer6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Document, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Chart, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Design6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.XlsExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.HtmlExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Interop, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.PdfExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.CodeDomSerializer6, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.RtfExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.TiffExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.TextExport, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Web, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="ActiveReports.Web.Design, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<!-- 
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows">
			<forms name="ECXPortalLogIn" loginUrl="https://portal.ecx.com.et?CMD=logoff" protection="All" timeout="30" path="/" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="RemoteOnly">
			<!--<error statusCode="403" redirect="~/Pages/Error.aspx" />
            <error statusCode="404" redirect="~/Pages/Error.aspx" />-->
		</customErrors>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
			<add verb="*" path="*.rpx" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler, ActiveReports.Web, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
			<add verb="*" path="*.ActiveReport" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler, ActiveReports.Web, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
			<add verb="*" path="*.ArCacheItem" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler, ActiveReports.Web, Version=6.0.2250.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
		</httpHandlers>
		<sessionState timeout="30" />
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ar_rpx-integrated" path="*.rpx" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.RpxHandler" resourceType="File" preCondition="integratedMode" />
			<add name="ar_activereport-integrated" path="*.ActiveReport" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode" />
			<add name="ar_arcacheitem-integrated" path="*.ArCacheItem" verb="*" type="DataDynamics.ActiveReports.Web.Handlers.WebCacheAccessHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
		</handlers>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="pages/inbox.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding1" closeTimeout="00:40:00" openTimeout="00:40:00" receiveTimeout="00:40:00" sendTimeout="00:40:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="basicHttpBinding" maxReceivedMessageSize="2147483647" />
				<binding name="basicHttpBinding2" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://10.1.5.20:5000/TradeService/TradeTitleTransfer.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ECXTrading.ITradeTitleTransfer" name="basicHttpBinding" />
			<endpoint address="http://10.1.5.20:5000/TradeService/Trade.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding1" contract="ECXTrade.ITrade" name="basicHttpBinding1" />
			<endpoint address="http://10.1.5.20:5000/TradeService/Trade.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding1" contract="ECXTradingPRML.ITrade" name="basicHttpBinding1" />
		</client>
		<!--<client>
			<endpoint address=ttp://10.1.5.20:5000/TradeService/Trade.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding1" contract="ECXTradingPRML.ITrade" name="basicHttpBinding1"/>
			<endpoint address=ttp://ecx-newmis-011.ecx.com:5000/TradeService/Trade.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ECXTrade.ITrade" name="basicHttpBinding"/>
			<endpoint address=ttp://ecx-newmis-011.ecx.com:5000/TradeService/TradeTitleTransfer.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding2" contract="ECXTrading.ITradeTitleTransfer" name="basicHttpBinding2"/>
		</client>-->
	</system.serviceModel>
</configuration>
